extend layout
block content
	.unit
		p #{api.path}
	.unit
		h1 Name
		p #{api.name}
	.unit
		h1 Type
		p #{api.type}
	each val in api.attr
		.unit
			h1= val
			p= api[val]
	.unit
		each val in api.children
			p= val
